
{% extends "base.html" %}
{% load static %}
{% block title %}書籍登録{% endblock title %}
{% block content %}
<div class="main">
    <!-- 書籍一覧へ戻るボタン（相対的な位置に配置）-->
    <div class="button-container">
        <a href="{% url 'equipment:list' %}" class="return-button">書籍一覧へ戻る</a>
    </div>
    <div class="title">
        <h2>書籍登録</h2>
    </div>
    <div class="content">
        <form method="post" action="{% url 'equipment:add' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.errors %}
            <div class="field-error">
                <p>入力にエラーがあります。もう一度ご確認ください。</p>
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            
            <div class="field">
                <label for="{{ form.equip_name.id_for_label }}">名前</label>
                {{ form.equip_name }}
            </div>
            <div class="field">
                <label for="{{ form.category.id_for_label }}">カテゴリ</label>
                {{ form.category }}
            </div>
            <div class="field">
                <label for="{{ form.condition.id_for_label }}">状態</label>
                {{ form.condition }}
            </div>
            <div class="field">
                <label for="{{ form.loan_status.id_for_label }}">貸出状況</label>
                {{ form.loan_status }}
            </div>
            <div class="field">
                <label for="{{ form.place.id_for_label }}">設置場所</label>
                {{ form.place }}
            </div>
            <div class="field">
                <label for="{{ form.text.id_for_label }}">説明</label>
                {{ form.text }}
            </div>
            <div class="field">
                <label for="{{ form.image.id_for_label }}">画像</label>
                {{ form.image }}
            </div>
            <div class="field">
                <label for="{{ form.stock.id_for_label }}">在庫数<span class="field-error">※</span></label>
                {{ form.stock }}
                <span class="field-error"><small>※原則在庫数は1としてください。<br>　 それ以外の場合は詳細を「説明」欄に記載してください。</small></span>
            </div>
            <div class="button-container">
                <input type="submit" value="登録" class="button">
            </div>
        </form>
    </div>
        <!-- 書籍一覧へ戻るボタン（相対的な位置に配置）-->
        <div class="button-container">
            <a href="{% url 'equipment:list' %}" class="return-button">書籍一覧へ戻る</a>
        </div>
    
<!-- 閉じるボタン -->
<div class="close-button-container">
    <span class="close-text">閉じる</span> <!-- 閉じるの文字を追加 -->
    <span class="close-button" onclick="closeModal()">&times;</span> <!-- 閉じる×ボタン -->
</div>
</div>
<!-- モーダル内のみに適用するスタイル -->
<style>
    /* このページの背景画像を非表示にする */
    body {
        background-image: none;
    }
    /* モーダル内でヘッダーとフッターを非表示にする */
    .modal header, .modal footer {
        display: none;
    }
    /* モーダル内で .title-logo を無効にする */
.modal .title-logo {
    display: none;
}
    /* 書籍一覧ボタン */
    .return-button {
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        z-index: 1001;
    }
    .close-button-container {
        top: 20px;
        right: 20px;
        text-align: center;
    }
    .close-content {
        display: flex;
        flex-direction: column; /* 縦方向に並べる */
        align-items: center; /* 中央揃え */
    }
    .close-text {
        font-size: 12px;
        color: #333;
        margin-bottom: 5px; /* 「×」と「閉じる」の間のスペース */
    }
    .close-button {
        font-size: 24px;
        color: #333;
        cursor: pointer;
    }
    .close-button:hover {
        color: #f00; /* ホバー時に赤色に変更 */
    }
</style>
{% endblock content %}
