{% extends "base.html" %}
{% load static %}
{% block title %}備品登録{% endblock title %}
{% block content %}

<div class="main">
    <div class="title">
        <h2>備品登録</h2>
    </div>

    <div class="content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.errors %}
            <div class="field-error">
                <p>入力にエラーがあります。もう一度ご確認ください。</p>
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            
            <div class="field">
                <label for="{{ form.equip_name.id_for_label }}">名前</label>
                {{ form.equip_name }}
            </div>
            <div class="field">
                <label for="{{ form.category.id_for_label }}">カテゴリ</label>
                {{ form.category }}
            </div>
            <div class="field">
                <label for="{{ form.condition.id_for_label }}">状態</label>
                {{ form.condition }}
            </div>
            <div class="field">
                <label for="{{ form.place.id_for_label }}">設置場所</label>
                {{ form.place }}
            </div>
            <div class="field">
                <label for="{{ form.text.id_for_label }}">説明</label>
                {{ form.text }}
            </div>
            <div class="field">
                <label for="{{ form.image.id_for_label }}">画像</label>
                {{ form.image }}
            </div>
            <div class="field">
                <label for="{{ form.stock.id_for_label }}">在庫数</label>
                {{ form.stock }}
            </div>
            <div class="button-container">
                <input type="submit" value="登録" class="button">
            </div>
        </form>
    </div>
</div>
{% endblock content %}
