<div class="calendar-navigation">
  <a href="?year={{ prev_month_year }}&month={{ prev_month }}">前月</a>
  <span>{{ current_year }}年{{ current_month }}月の貸出予定</span>
  <a href="?year={{ next_month_year }}&month={{ next_month }}">次月</a>
</div>

<div class="calendar">
  <!-- 曜日のヘッダー -->
  <div class="dayofweek sunday">日</div><div class="dayofweek">月</div><div class="dayofweek">火</div><div class="dayofweek">水</div><div class="dayofweek">木</div><div class="dayofweek">金</div><div class="dayofweek saturday">土</div>

  <!-- 最初の日の前に空のセルを挿入して曜日を調整 -->
  {% for _ in empty_days %}
    <div class="empty"></div>
  {% endfor %}

  <!-- カレンダーの日付を表示 -->
  {% for day in days_in_month %}
    <div class="{% if day in loaned_days %}loaned{% endif %}">{{ day }}</div>
  {% endfor %}
</div>

<center><span class="status-approved"><font size="6">■</font></big></span>＝貸出予定あり</center>

