
{% extends "base.html" %}
{% load static %}
{% block title %}{{ equip.equip_name }}の詳細{% endblock title %}
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

        <div class="button-container">
            <a href="{% url 'equipment:list' %}" class="return-button">備品一覧へ戻る</a>
        </div>

<h2>{{ equip.equip_name }}</h2><!--備品タイトル-->
<!--貸出中ステータス表示-->
<div class="loan-status">
    <p>貸出状況：
    {% if equip.loan_status == '貸出可' %}
    <span class="material-symbols-outlined">
      <font color="#69c44b"><b>circle</span>
    </span>
    貸出可
      </font></b>
    {% elif equip.loan_status == '貸出不可' %}
      <span class="material-symbols-outlined">
        <font color="#EB6161"><b>close
      </span>
      貸出不可
        </font></b>
    {% elif equip.loan_status == '貸出中' %}
    <span class="material-symbols-outlined">
      <font color="#EB6161"><b>do_not_disturb_on
    </span>
    貸出中
      </font></b>
    {% else %}
    <span class="material-symbols-outlined">
      <font color="#00A0A8"><b>question_mark
    </span>
    その他（詳細は説明欄を参照）
  </font></b>
    {% endif %}
    </p>
</div>
<!--貸出中ステータスここまで-->


{% if user.is_admin %}<!-- 管理者の場合にだけ表示される！ -->
<div class="button-group">
  <!--備品編集ページへのリンク-->
  <form action="{% url 'equipment:edit' equip.id %}" method="get">
    {% csrf_token %}
    <input type="submit" class="button" value="編集">
  </form>
  <!--備品削除リンク※ページは遷移しない-->
  <form action="{% url 'equipment:delete' equip.id %}" method="post" onsubmit="return confirmDelete();">
    {% csrf_token %}
    <input type="submit" class="button delete-button" value="削除">
  </form>
</div>
{% endif %}


{% if equip.image %}<!--もし画像があるときは-->
<div class="image-box">
  <img src="{{ equip.image.url }}" alt="{{ equip.equip_name }}" class="image">
</div>
{% else %}<!--もし画像がないときは-->
<div class="no-image">
  <span class="material-symbols-outlined">
    <font color="#FFFFFF">
    no_photography
    </font>
  </span>
</div>
{% endif %}

<!--お気に入り登録ボタン-->
<button class="favorite {% if is_favorite %}favorite-active{% else %}favorite-inactive{% endif %}" id="favorite-button" data-equip-id="{{ equip.id }}">
  <span class="material-symbols-outlined">
    <font color="{% if is_favorite %}#F76F6E{% else %}#CCCCCC{% endif %}"><b>
      {% if is_favorite %}favorite{% else %}heart_plus{% endif %}
    </b></font>
  </span>
  <span class="favorite-text">
    {% if is_favorite %}お気に入り登録中{% else %}お気に入りに追加{% endif %}
  </span>
</button>
<p class="favorite-active" id="favorite-count"><b><small>お気に入り登録人数：{{ favorite_count }}人</small></b></p>
<!--お気に入り登録ボタンここまで-->


<table class="info-table">
  <tr>
    <td>カテゴリ</td>
    <td>{{ equip.category }}</td>
  </tr>
  <tr>
    <td>状態</td>
    <td>{{ equip.condition }}</td>
  </tr>
  <tr>
    <td>設置場所</td>
    <td>{{ equip.place }}</td>
  </tr>
  <tr>
    <td>在庫数</td>
    <td>{{ equip.stock }}</td>
  </tr>
</table>
{% if user.is_admin %}<!-- 管理者の場合にだけ表示される！ -->
<h2>在庫数の変更</h2>
  <!-- フォームの表示 -->
  <form method="post">
   {% csrf_token %}
   {{ stock_update_form.as_p }}
   <center>
   <input type="submit" value="保存" class="save-button">
   </center>
  </form>
{% endif %}
{% if user.is_admin %} <!-- 管理者の場合にだけ表示される！ -->
<h2>在庫数変更履歴 <small>※最新5件を表示</small></h2>
<table class="detail-table">
  <thead>
    <tr align="center">
      <th>変更日時</th>
      <th>変更前の在庫数</th>
      <th>変更後の在庫数</th>
      <th>変更したユーザー</th>
    </tr>
  </thead>
  <tbody>
    {% for change in stock_changes %}
    <tr align="center">
      <td>{{ change.changed_date|date:"Y/m/d H:i"  }}</td>
      <td>{{ change.previous_stock }}</td>
      <td>{{ change.new_stock }}</td>
      <td>{{ change.user.username }}</td>
    </tr>
    {% empty %}
    <tr align="center">
      <td colspan="4">変更履歴はありません</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
<!-- 貸出希望依頼ボタン -->
<button id="openModalButton" class="order-button custom-size">貸出希望依頼</button>
<!-- モーダルウィンドウ -->
<div id="orderModal" class="modal">
  <div class="modal-content">
    <span class="close-button" id="closeModalButton">&times;</span>
    <h2>貸出希望依頼</h2>
    <form method="post">
      {% csrf_token %}
      
      <div class="form-group">
        <label for="quantity">数　量</label>
        <input type="number" id="quantity" name="quantity" min="1" required class="narrow-input">
      </div>
      
      <div class="form-group">
        <label for="loan_date">貸出希望日</label>
        <input type="date" id="loan_date" name="loan_date" required>
      </div>
      <div class="form-group">
        <label for="return_date">返却予定日</label>
        <input type="date" id="return_date" name="return_date" required>
      </div>
      <center>
        <input type="submit" value="送信" class="modal-button approve-button">
      </center>
    </form>
  </div>
</div>

{% comment %} <form method="post">
  {% csrf_token %}
  {{ order_form.as_p }}
  <center>
<input type="submit" value="貸出希望依頼" class="order-button">
  </center>
</form> {% endcomment %}
<h2>貸出の承認履歴 <small>※最新5件を表示</small></h2>
<table class="detail-table">
  <thead>
    <tr align="center">
      <th>承認依頼日</th>
      <th>貸出希望者</th>
      <th>数量</th>
      <th>貸出希望日</th>
      <th>返却予定日</th>
      <th>承認ステータス</th>
      <th>承認日時</th>
      <th>承認者コメント</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr align="center">
      <td>{{ order.order_date|date:"Y/m/d H:i" }}</td> <!-- 承認依頼日 -->
      <td>{{ order.user.username }}</td> <!-- 貸出希望者 -->
      <td>{{ order.quantity }}</td> <!-- 数量 -->
      <!-- 貸出希望日 -->
      <td>
        {% if order.loan_date %}
        {{ order.loan_date|date:"Y/m/d" }} <!-- 貸出希望日 -->
        {% else %}
        <span>-</span>
        {% endif %}
      </td>
      <!-- 返却予定日 -->
      <td>
        {% if order.return_date %}
        {{ order.return_date|date:"Y/m/d" }} <!-- 返却予定日 -->
        {% else %}
        <span>-</span>
        {% endif %}
      </td>
      <!-- 承認ステータス -->
      <td>
        {% if order.approval_status == "承認待ち" %}
        <span class="status-pending"><b>{{ order.approval_status }}</b></span>
        {% elif order.approval_status == "承認済み" %}
        <span class="status-approved"><b>{{ order.approval_status }}</b></span>
        {% elif order.approval_status == "否決" %}
        <span class="status-rejected"><b>{{ order.approval_status }}</b></span>
        {% else %}
        {{ order.approval_status }}
        {% endif %}
      </td>
      <!-- 承認日時 -->
      <td>
        {% if order.approval_date %}
        {{ order.approval_date|date:"Y/m/d H:i" }} <!-- 承認日時 -->
        {% else %}
        <span>-</span>
        {% endif %}
      </td>
      <!-- 承認者コメント -->
      <td>
        {% if order.approval_comment %}
        {{ order.approval_comment }} <!-- 承認者コメント -->
        {% else %}
        <span>実装予定</span>
        {% endif %}
      </td>
      {% comment %}
      <td>
        {% if order.approval_status == '承認待ち' %}
        <!-- 承認ボタン -->
        <form method="post" style="display:inline;">
          {% csrf_token %}
          <input type="hidden" name="approve_order" value="{{ order.pk }}">
          <input type="submit" value="承認する" class="button">
        </form>
        {% if order.approval_status != '否決' %}
          <!-- 否決ボタン -->
          <form method="post" style="display:inline;">
            {% csrf_token %}
            <input type="hidden" name="reject_order" value="{{ order.pk }}">
            <input type="submit" value="否決する" class="button delete-button">
          </form>
        {% else %}
          <!-- 否決ステータス表示 -->
          <span>否決</span>
        {% endif %}
      {% else %}
        <!-- 否決ステータスが承認済みなら何も表示しない -->
        <span>－</span>
      {% endif %}
      </td>
      {% endcomment %}
    </tr>
    {% empty %}
    <tr align="center">
      <td colspan="8">貸出希望はありません</td> <!-- colspanを8に変更 -->
    </tr>
    {% endfor %}
  </tbody>
</table>


<h2>コメント</h2>

<!-- コメントリスト -->
<div class="comment-field">
  {% if comments %}
    {% for comment in comments %}
    <div class="comment-contents">
      <div class="comment-name-time">
        <div class="comment-name">
          <b>{{ comment.user.username }}</b>
        </div>
        <div class="comment-delete">
          <!-- コメント投稿者または管理者の場合のみ削除ボタンを表示 -->
          {% if comment.user == request.user or request.user.is_admin %}
          <form action="{% url 'equipment:comment-delete' comment.id %}" method="post" onsubmit="return confirmDeleteComment();">
            {% csrf_token %}
            <button type="submit" class="comment-button delete-button">削除</button>
          </form>
          {% endif %}
        </div>
        <div class="comment-time">
          {{ comment.created_at|date:"Y/m/d H:i" }}
        </div>
      </div>
      <div class="comment-text">
        <p>{{ comment.text }}</p>
      </div>


    </div>
    {% endfor %}
  {% else %}
      <p>コメントはありません
        <span class="material-symbols-outlined">
          <font color="gray"><big>sentiment_very_dissatisfied</big></font>
        </span></p>
  {% endif %}

  <!-- 「コメントをする」ボタン -->
  <button type="button" class="order-button custom-size" id="open-comment-modal-btn">コメントをする</button>
</div>


<!-- コメント用モーダルのHTML -->
<div id="comment-modal" class="comment-modal" style="display:none;">
  <div class="modal-content">
    <span id="close-comment-modal-btn" class="close-button">&times;</span>
    <h2>コメントを追加</h2>
    <br>
    <form id="comment-form" method="post" action="{% url 'equipment:detail' equip.id %}">
        {% csrf_token %}
        <div class="form-group">
        {{ comment_form.text }}
        </div>
        <center>
        <button type="submit" class="modal-button approve-button">投稿する</button>
          <!-- キャンセルボタン -->
        <button type="button" class="modal-button cancel-button" id="cancel-comment-btn">キャンセル</button>

      </center>
    </form>
  </div>
</div>




{% comment %} JavaScriptここから {% endcomment %}
<!--削除機能-->
<script>
  function confirmDelete() {
    return confirm("本当に削除しますか？この操作は元に戻せません。");
  }
  function confirmDeleteComment() {
    return confirm("本当にこのコメントを削除しますか？この操作は元に戻せません。");
  }
</script>
<!--画像破損対応-->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const imgElement = document.querySelector("img.image");
    if (imgElement) {
      imgElement.onerror = function() {
        // 画像が破損している場合、画像を非表示にし、no-imageクラスを表示
        imgElement.style.display = "none";
        const noImageDiv = document.createElement("div");
        noImageDiv.className = "no-image";
        noImageDiv.innerHTML = `
          <span class="material-symbols-outlined">
            <font color="#CCCCCC" size="20">
              no_photography
            </font>
          </span>
        `;
        imgElement.parentNode.appendChild(noImageDiv);
      }
    }
  });
</script>

<!-- 貸出依頼のモーダル：JavaScriptでモーダルの表示・非表示を追加 -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const modal = document.getElementById("orderModal");
    const openModalButton = document.getElementById("openModalButton");
    const closeModalButton = document.getElementById("closeModalButton");
    // モーダルを開く
    openModalButton.addEventListener("click", function() {
      modal.style.display = "block";
    });
    // モーダルを閉じる
    closeModalButton.addEventListener("click", function() {
      modal.style.display = "none";
    });
    // モーダルの外側をクリックしたら閉じる
    window.addEventListener("click", function(event) {
      if (event.target === modal) {
        modal.style.display = "none";
      }
    });
  });
</script>

<!--お気に入り機能-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('#favorite-button').click(function() {
        var equipId = $(this).data('equip-id');
        $.ajax({
            type: 'POST',
            url: window.location.href,  // 現在のページのURL
            data: {
                'equip_id': equipId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                // ボタンの状態を更新
                if (response.status == 'added') {
                    $('#favorite-button').removeClass('favorite-inactive').addClass('favorite-active');
                    $('#favorite-button .material-symbols-outlined').html('<font color="#F76F6E"><b>favorite</b></font>');
                    $('#favorite-button .favorite-text').text('お気に入り登録中');
                } else if (response.status == 'removed') {
                    $('#favorite-button').removeClass('favorite-active').addClass('favorite-inactive');
                    $('#favorite-button .material-symbols-outlined').html('<font color="#CCCCCC"><b>heart_plus</b></font>');
                    $('#favorite-button .favorite-text').text('お気に入りに追加');
                }

                // お気に入り人数の表示を更新
                $('#favorite-count').html('<b><small>お気に入り登録人数：' + response.favorite_count + '人</small></b>');
            }
        });
    });
});
</script>

<!-- コメント用モーダルのJavaScript -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const commentModal = document.getElementById("comment-modal");
    const openCommentModalBtn = document.getElementById("open-comment-modal-btn");
    const closeCommentModalBtn = document.getElementById("close-comment-modal-btn");
    const cancelCommentBtn = document.getElementById("cancel-comment-btn");

    // コメント用モーダルを開く
    openCommentModalBtn.addEventListener("click", function() {
      commentModal.style.display = "block";
    });

    // コメント用モーダルを閉じる（×ボタン）
    closeCommentModalBtn.addEventListener("click", function() {
      commentModal.style.display = "none";
    });

    // キャンセルボタンでモーダルを閉じる
    cancelCommentBtn.addEventListener("click", function() {
      commentModal.style.display = "none";
    });

    // モーダル外をクリックした場合に閉じる
    window.addEventListener("click", function(event) {
      if (event.target === commentModal) {
        commentModal.style.display = "none";
      }
    });
});
</script>

{% comment %} JavaScriptここまで {% endcomment %}

{% endblock content %}