{% extends "base.html" %}
{% load static %}
{% block title %}書籍編集{% endblock title %}
{% block content %}
{% comment %} このページは、<add.html>とまったく同じ内容で大丈夫です！ {% endcomment %}

    <div class="button-container">
        <a href="javascript:history.back()" class="return-button">書籍詳細へ戻る</a>
    </div>

<div class="title">
    <h2>書籍編集</h2>
</div>

<div class="content">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
        <div class="field-error">
            <p>入力にエラーがあります。もう一度ご確認ください。</p>
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        
        <div class="field">
            <label for="{{ form.equip_name.id_for_label }}">名前</label>
            {{ form.equip_name }}
        </div>
        <div class="field">
            <label for="{{ form.category.id_for_label }}">カテゴリ</label>
            {{ form.category }}
        </div>
        <div class="field">
            <label for="{{ form.condition.id_for_label }}">状態</label>
            {{ form.condition }}
        </div>
        <div class="field">
            <label for="{{ form.loan_status.id_for_label }}">貸出状況</label>
            {{ form.loan_status }}
        </div>
        <div class="field">
            <label for="{{ form.place.id_for_label }}">設置場所</label>
            {{ form.place }}
        </div>
        <div class="field">
            <label for="{{ form.text.id_for_label }}">説明</label>
            {{ form.text }}
        </div>
        <div class="field">
            <label for="{{ form.web_site.id_for_label }}">参考URL</label><span class="field-error"><small>（Amazon等書籍の説明が記載されているURLを入力）</small></span>
            {{ form.web_site }}
        </div>
        <div class="field">
            <label for="{{ form.image.id_for_label }}">画像</label>
            {{ form.image }}
        </div>
        <div class="field">
            <label for="{{ form.stock.id_for_label }}">在庫数<span class="field-error">※</span></label>
            {{ form.stock }}
            <span class="field-error"><small>※原則在庫数は1としてください。<br>　 それ以外の場合は詳細を「説明」欄に記載してください。</small></span>
        </div>
        <div class="button-container">
            <input type="submit" value="登録" class="button">
        </div>
    </form>
</div>
{% endblock content %}
