
{% extends "base.html" %}
{% load static %}
{% block title %}トップページ{% endblock title %}
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<!-- 書籍一覧ページ -->
<a class="item-active">書籍一覧</a></li> <!-- ヘッダーから分離 -->
<main class="item-list">
<!-- フォーム要素でラップ -->
<form id="searchForm" onsubmit="searchTable(); return false;">
    <!-- 検索ボックス、ドロップダウンメニュー、検索ボタン -->
    <div class="search-container">
        <select id="searchCategory" class="search-category">
            <option value="all">すべて</option>
            <option value="equip_name">書籍名</option>
            <option value="image">画像</option>
            <option value="loan_status">貸出状況</option>
            <option value="category">カテゴリ</option>
            <option value="condition">状態</option>
            <option value="place">設置場所</option>
            <option value="description">説明</option>
            <option value="stock">在庫数</option>
            <option value="created_at">登録日</option>
            <option value="updated_at">最終更新日</option>
        </select>
        <input type="text" id="searchInput" class="list-search-box" placeholder="キーワードで検索する...">
        <button id="searchButton" class="search-button">検索</button>
        <button type="button" id="clearButton" class="clear-button" onclick="clearSearch()">クリア</button>
    </div>
</form>
<div class="add-item-container button-container">
    <!-- 左側のボタン（備品を追加、貸出可を表示） -->
    <div class="left-buttons">
        {% if user.is_admin %}
        <a href="#" class="add-item-button" onclick="openModal()">書籍を追加</a>
        {% endif %}
        <button id="filterAvailableButton" class="filter-available-button" onclick="filterAvailableItems()">貸出可を表示</button>
    </div>
    <!-- 右側のボタン（返却を表示） -->
    <div class="right-buttons">
        {% if user.is_admin %}
        <button id="filterReturnedButton" class="filter-returned-button" onclick="filterReturnedItems()">要返却を表示</button>
        {% endif %}
    </div>
</div>
<!-- モーダルウィンドウのコンテナ -->
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close-button" onclick="closeModal()">&times;</span>
        <div id="modal-body">
            <!-- ここに外部HTMLが読み込まれます -->
            {% include 'equipment/add.html' %}
        </div>
    </div>
</div>
<div class="table-container">
<table id="itemTable" class="equipment-table">
    <thead>
        <tr align="center">
            <th>書籍名</th>
            <th>画像</th>
            <th>貸出状況</th>
            <th>カテゴリ</th>
            <th>状態</th>
            <th>設置場所</th>
            <th>説明</th>
            <th>在庫数</th>
            <th>登録日</th>
            <th>最終更新日</th>
            <th>操作<br>(管理者権限)</th> <!-- 貸出・返却ボタンを配置する列 -->
        </tr>
    </thead>
    <tbody>
        {% for equipment in equipments %}
        <tr align="center">
            <td> <!--POP -->
                <div class="tooltip">
                    <a href="{% url 'equipment:detail' equipment.pk %}" class="tooltip-trigger">{{ equipment.equip_name }}</a>
                    <div class="tooltiptext">
                        <div class="tooltip-content">
                            <img src="{{ equipment.image.url }}" alt="{{ equipment.equip_name }}" class="tooltip-image">
                            <div class="tooltip-details">
                                <p class="tooltip-header">最新の貸出希望申請状況</p>
                                {% with equipment.order_set.all.last as latest_order %}
                                    {% if latest_order %}
                                        <p>貸出希望日: {{ latest_order.loan_date|date:"Y/m/d" }}</p>
                                        <p>返却予定日: {{ latest_order.return_date|date:"Y/m/d" }}</p>
                                    {% else %}
                                        <p>貸出希望日: なし</p>
                                        <p>返却予定日: なし</p>
                                    {% endif %}
                                {% endwith %}
                                <!-- アクションボタン -->
                                <a href="{% url 'equipment:detail' equipment.pk %}#target-section" class="tooltip-button">貸出可能日の詳細を見る</a>
                            </div>
                        </div>
                    </div>
                </div>
            </td><!--POP -->
            <td>
                <a href="{% url 'equipment:detail' equipment.pk %}">
                    {% if equipment.image %}
                        <img src="{{ equipment.image.url }}" alt="{{ equipment.equip_name }}" class="thumbnail-image" style="width: 100px; height: auto;">
                    {% else %}
                        <div class="no-image-list">
                            <span class="material-symbols-outlined">
                              <font color="#CCCCCC">
                                no_photography
                              </font>
                            </span>
                        </div>
                    {% endif %}
                </a>
            </td>
            <td>
            {% if equipment.loan_status == '貸出可' %}
            <span class="material-symbols-outlined">
                <font color="#69c44b"><b>circle</span>
            </span>
              貸出可
            {% elif equipment.loan_status == '貸出不可' %}
              <span class="material-symbols-outlined">
                <font color="#EB6161"><b>close
              </span>
              貸出不可
                </font></b>
            {% elif equipment.loan_status == '貸出中' %}
            <span class="material-symbols-outlined">
              <font color="#EB6161"><b>do_not_disturb_on
            </span>
            貸出中
              </font></b>
            {% else %}
            <span class="material-symbols-outlined">
              <font color="#00A0A8"><b>question_mark
            </span>
            その他（詳細は説明欄を参照）
            </font></b>
            {% endif %}
            </td>
            <td>{{ equipment.category }}</td>
            <td>{{ equipment.condition }}</td>
            <td>{{ equipment.place }}</td>
            <td class="description">{{ equipment.text }}</td>
            <td>{{ equipment.stock }}</td>
            <td>{{ equipment.created_at|date:"Y/m/d" }}</td>
            <td>{{ equipment.updated_at|date:"Y/m/d" }}</td>
            <td>
                {% if user.is_admin %}
                    {% if equipment.loan_status == '貸出可' %}
                        <a href="{% url 'equipment:loan_equipment' equipment.pk %}" class="status-loan-button" onclick="return confirmLoan();">
                            <span class="material-symbols-outlined"><font color="white">arrow_back</font></span>
                            貸出
                        </a>
                    {% elif equipment.loan_status == '貸出中' %}
                        <a href="{% url 'equipment:return_equipment' equipment.pk %}" class="status-return-button" onclick="return confirmLoan();">
                            <span class="material-symbols-outlined"><font color="white">arrow_forward</font></span>
                            返却
                        </a>
                    {% endif %}
                {% else %}
            <span>-</span>
            {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr align="center">
            <td colspan="11">備品が見つかりませんでした。</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</main>
<!--検索機能のscript-->
<script>
    function searchTable() { 
        let input = document.getElementById("searchInput").value.toLowerCase();
        let category = document.getElementById("searchCategory").value;
        let table = document.getElementById("itemTable");
        let rows = table.getElementsByTagName("tr");
        
        for (let i = 1; i < rows.length; i++) {
            let cells = rows[i].getElementsByTagName("td");
            let found = false;
    
            for (let j = 0; j < cells.length; j++) {
                if ((category === 'all') || 
                    (category === 'equip_name' && j === 0) || 
                    (category === 'image' && j === 1) || 
                    (category === 'loan_status' && j === 2) ||  // 貸出状況
                    (category === 'category' && j === 3) || 
                    (category === 'condition' && j === 4) || 
                    (category === 'place' && j === 5) || 
                    (category === 'description' && j === 6) || 
                    (category === 'stock' && j === 7) || 
                    (category === 'created_at' && j === 8) || 
                    (category === 'updated_at' && j === 9)) {
                        
                    if (cells[j]) {
                        let txtValue = cells[j].textContent || cells[j].innerText;
                        if (txtValue.toLowerCase().indexOf(input) > -1) {
                            found = true;
                            break;
                        }
                    }
                }
            }
            rows[i].style.display = found ? "" : "none";
        }
    }
</script>
    <!--検索をクリアのscript-->
<script>
    function clearSearch() {
        // 検索入力ボックスをクリア
        document.getElementById('searchInput').value = '';
    
        // カテゴリをデフォルトに戻す
        document.getElementById('searchCategory').value = 'all';
    
        // テーブルのすべての行を表示
        let table = document.getElementById('itemTable');
        let rows = table.getElementsByTagName('tr');
        for (let i = 1; i < rows.length; i++) {
            rows[i].style.display = '';
        }
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const thumbnailElements = document.querySelectorAll("img.thumbnail-image");
        thumbnailElements.forEach(function(thumbnail) {
            thumbnail.onerror = function() {
                // 画像を非表示にし、代わりにエラーメッセージを表示
                thumbnail.style.display = "none";
                const noImageListDiv = document.createElement("div");
                noImageListDiv.className = "no-image-list";
                noImageListDiv.innerHTML = `
                    <span class="material-symbols-outlined">
                      <font color="#CCCCCC">
                        no_photography
                      </font>
                    </span>
                `;
                thumbnail.parentNode.appendChild(noImageListDiv);
            }
        });
    });
</script>
<!--貸出可能のみの表示-->
<script>
    let isFiltered = false;  // フィルタが適用されているかのフラグ
    function filterAvailableItems() {
        let input = "貸出可";  // ボタンでフィルタリングするテキスト（今回は「貸出可」）
        let table = document.getElementById("itemTable");
        let rows = table.getElementsByTagName("tr");
    
        // フィルタ状態に応じて表示/非表示を切り替える
        for (let i = 1; i < rows.length; i++) {
            let loanStatusCell = rows[i].getElementsByTagName("td")[2];  // 貸出状況は3番目のカラム
            if (loanStatusCell) {
                let txtValue = loanStatusCell.textContent || loanStatusCell.innerText;
                txtValue = txtValue.trim();  // 空白を除去
    
                if (isFiltered) {
                    // フィルタ解除（全て表示）
                    rows[i].style.display = ""; 
                } else {
                    // フィルタ適用（貸出可のみ表示）
                    if (txtValue.indexOf(input) === -1) {
                        rows[i].style.display = "none";  // 貸出可以外を非表示
                    } else {
                        rows[i].style.display = "";  // 貸出可のものだけ表示
                    }
                }
            }
        }
    
        // ボタンのテキストを切り替える
        let filterButton = document.getElementById("filterAvailableButton");
        filterButton.textContent = isFiltered ? "貸出可能のみ表示" : "全て表示";
    
        // フィルタ状態を反転させる
        isFiltered = !isFiltered;
    }
    
</script>
<script>
// モーダルを開く処理
function openModal() {
    const modal = document.getElementById('modal');
    const modalBody = document.getElementById('modal-body');
    // Ajaxでadd.htmlの内容を読み込む
    fetch("{% url 'equipment:add' %}")
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to load content');
            }
            return response.text();
        })
        .then(data => {
            modalBody.innerHTML = data; // モーダル内にHTMLを挿入
            modal.style.display = 'block'; // モーダルを表示
            attachFormSubmitHandler(); // フォーム送信イベントを再設定
        })
        .catch(error => console.error('Error loading modal content:', error));
}
// モーダルを閉じる処理
function closeModal() {
    const modal = document.getElementById('modal');
    modal.style.display = 'none';
}
// フォームをAjaxで送信する処理
function submitForm(event) {
    event.preventDefault(); // フォームのデフォルトの送信を防ぐ
    
    const form = event.target; // イベント発生元のフォームを取得
    const formData = new FormData(form);
    fetch(form.action, {
        method: 'POST',
        body: formData,
        headers: {
            'X-Requested-With': 'XMLHttpRequest',
        }
    })
    .then(response => response.text())
    .then(data => {
        // 成功した場合の処理
        if (data.includes('成功メッセージ')) { // サーバー側のレスポンスに応じて適宜変更
            // モーダルを閉じる
            closeModal();
            // 書籍一覧ページにリダイレクト
            window.location.href = "{% url 'equipment:list' %}";
        } else {
            // エラーがあれば再度モーダル内に表示
            const modalBody = document.getElementById('modal-body');
            modalBody.innerHTML = data; // エラーがあれば再度モーダル内に表示
            attachFormSubmitHandler(); // 新しく描画されたフォームにも送信イベントを再設定
        }
    })
    .catch(error => console.error('Error submitting form:', error));
}
// フォーム送信イベントを設定する処理
function attachFormSubmitHandler() {
    const form = document.querySelector('#modal-body form');
    if (form) {
        form.addEventListener('submit', submitForm);
    }
}
    </script>
    <script>
        // 貸出操作の確認メッセージ
        function confirmLoan() {
            return confirm("貸出操作を確定しますか？");
        }
    
        // 返却操作の確認メッセージ
        function confirmReturn() {
            return confirm("返却操作を確定しますか？");
        }
    </script>
    <!--返却の必要がある備品のみを表示するscript-->
    <script>
        let isReturnFiltered = false;  // フィルタが適用されているかのフラグ
function filterReturnedItems() {
    let table = document.getElementById("itemTable");
    let rows = table.getElementsByTagName("tr");
    // フィルタ状態に応じて表示/非表示を切り替える
    for (let i = 1; i < rows.length; i++) {
        let operationCell = rows[i].getElementsByTagName("td")[10];  // 操作は11番目のカラム
        if (operationCell) {
            let txtValue = operationCell.textContent || operationCell.innerText;
            txtValue = txtValue.trim();  // 空白を除去
            if (isReturnFiltered) {
                // フィルタ解除（全て表示）
                rows[i].style.display = ""; 
            } else {
                // フィルタ適用（「返却」のみ表示）
                if (txtValue.indexOf("返却") === -1) {
                    rows[i].style.display = "none";  // 「返却」以外を非表示
                } else {
                    rows[i].style.display = "";  // 「返却」のものだけ表示
                }
            }
        }
    }
    // ボタンのテキストを切り替える
    let filterButton = document.getElementById("filterReturnedButton");
    filterButton.textContent = isReturnFiltered ? "返却を表示" : "全て表示";
    // フィルタ状態を反転させる
    isReturnFiltered = !isReturnFiltered;
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          const images = document.querySelectorAll("img.tooltip-image");
          images.forEach(imgElement => {
            imgElement.onerror = function() {
              // 画像が破損している場合、画像を非表示にし、no-imageクラスを表示
              imgElement.style.display = "none";
              const noImageDiv = document.createElement("div");
              noImageDiv.className = "tooltip-noimage";
              noImageDiv.innerHTML = `
                <span class="material-symbols-outlined">
                  <font color="#FFFFFF" size="20">
                    no_photography
                  </font>
                </span>
              `;
              imgElement.parentNode.appendChild(noImageDiv);
            }
          });
        });
      </script>
      <!--POPに関するscript-->
      <script>
        document.querySelectorAll('.tooltip').forEach(tooltip => {
            const trigger = tooltip.querySelector('.tooltip-trigger');
            const tooltipText = tooltip.querySelector('.tooltiptext');
            let hideTimeout;
        
            // ツールチップを表示する関数
            function showTooltip() {
                clearTimeout(hideTimeout);
                tooltipText.style.visibility = 'visible';
                tooltipText.style.opacity = '1';
            }
        
            // ツールチップを非表示にする関数
            function hideTooltip() {
                hideTimeout = setTimeout(() => {
                    if (!trigger.matches(':hover') && !tooltipText.matches(':hover')) {
                        tooltipText.style.visibility = 'hidden';
                        tooltipText.style.opacity = '0';
                    }
                }, 500); // 500msの遅延を設定
            }
        
            // トリガー要素にホバーしたとき
            trigger.addEventListener('mouseover', showTooltip);
            trigger.addEventListener('mouseleave', hideTooltip);
        
            // ツールチップ内にマウスが入ったとき
            tooltipText.addEventListener('mouseover', showTooltip);
        
            // ツールチップからマウスが離れたとき
            tooltipText.addEventListener('mouseleave', hideTooltip);
        });
        
    </script>
    
{% endblock content %}
