/* 全体レイアウト */
body {
  font-family: Arial, sans-serif; /* フォントをArialに設定し、Arialがない場合は他のsans-serif系のフォントを使用 */
  background-color: #f5f5f5; /* 背景色を薄い灰色に設定 */
  width: 100%; /* 幅を100%に設定 */
  margin: 0; /* 外側の余白をゼロに設定 */
  padding: 0; /* 内側の余白をゼロに設定 */
}

header {
  background-color: #6e06f7; /* ヘッダーの背景色をダークグレーに設定 */
  padding: 10px 0; /* ヘッダーの上下の内側余白を10pxに設定 */
}

.header-content {
  display: flex; /* フレックスボックスを使用して子要素を配置 */
  justify-content: space-between; /* 子要素を左右に均等に配置 */
  align-items: center; /* 子要素を垂直方向に中央揃え */
  margin: 0 auto; /* 外側の余白を自動で設定し、中央揃えに */
  padding: 0 20px; /* 左右の内側余白を20pxに設定 */
  color: #FFFFFF;
}

.header-content ul {
  list-style: none; /* リストマーカーを非表示に */
  margin: 0; /* 外側の余白をゼロに設定 */
  padding: 0; /* 内側の余白をゼロに設定 */
  display: flex; /* フレックスボックスを使用してリストアイテムを横並びに */
}

.header-content ul li {
  margin: 0 15px; /* 左右の外側余白を15pxに設定 */
}

.header-content ul li a {
  color: white; /* リンクテキストの色を白に設定 */
  text-decoration: none; /* テキストの下線を非表示に */
  font-size: 16px; /* フォントサイズを16pxに設定 */
}

.main {  /* ここにはメインコンテンツのスタイルを追加します */
  background-color: white; /* 背景色を白に設定 */
  width: 75%; /* 幅を75%に設定 */
  margin: 25px  auto; /* 外側の余白を自動で設定し、中央揃えに */
  padding: 0; /* 内側の余白をゼロに設定 */
  display: flex; /* フレックスボックスを使用して子要素を配置 */
  flex-direction: column; /* 子要素を縦方向に並べる */
  justify-content: center; /* 子要素を垂直方向に中央揃え */
  align-items: center; /* 子要素を水平方向に中央揃え */
  border-radius: 10px; /* 四つ角を10px丸く仕上げる */
}

/* 西澤追加：いろいろ編集しちゃってください！！*/
.content {
  margin-bottom: 25px;
}

.field {
  text-align: left; /* テキストを左揃えに変更 */
  display: flex; /* フレックスボックスで横並びに */
  align-items: center; /* ラベルと入力欄を上下中央に揃える */
  margin-bottom: 15px;
}

.field label {
  margin-right: 10px; /* ラベルと入力欄の間に余白を追加 */
  min-width: 100px; /* ラベルの最小幅を設定 */
  width: auto; /* ラベルの幅を自動調整 */
}

.field input {
  flex-grow: 1;
}

.button-container {
  display: flex; 
  justify-content: center; 
}

.button {
  width: 70px; /* ボタンの幅 */
  height: 40px; /* ボタンの高さ */
  border-radius: 5px; /* ボタンの角丸 */
  background-color: #3484b9; /* ボタンの背景色 */
  text-align: center; /* テキストを中央揃え */
  border-width: 0px; /* ボーダーなし */
  cursor: pointer; /* マウスオーバー時に指アイコン */
  color: #FFFFFF;
}

.button:hover {
  background-color: #005CC8; /* マウスオーバー時の背景色 */
}

.form-design {
  width: 200px;
}

/*表示させる画像の調整・8/21西澤追加*/
.image {
  max-width: auto; /* 例えば300pxに制限する */
  height: 300px;
}
/*画像がないときに表示させる部分・8/21西澤追加*/
.no-image {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  font-size: 20px;
  color: #666;
  background-color: #f8f8f8;
}


