
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock title %}</title><!--ページのタイトルは、各ページで設定する-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>
<body>
  <header>
    <div class="header-top">
      <a href="{% url 'users:menu' %}" style="text-decoration: none; color: #48A63F;">
        <h2>書籍貸出管理 -Webシステム</h2>
      </a>
      {% if user.is_authenticated %} <!--ログインしているときの表示-->
      <a class="user-username" href="{% url 'users:mypage' %}"> {{ user.username }} さん
          <!--ユーザー名を押下すると名マイページに飛ぶ※URL部分にに作成した新URLを追加-->
      {% if user.is_admin %}
      (管理者)  <!--ログインユーザーが管理者のときだけ、名前のうしろに(管理者)と表示-->
      {% endif %}
      </a>
      最終ログイン:{{ user.last_login|date:"Y/m/d H:i" }}
      {% endif %}
    </div>
      <div class="header-content">
          <div class="left">
              <ul>
                {% if user.is_authenticated %} <!--ログインしているときの表示-->
                <li><a href="{% url 'equipment:list' %}">書籍一覧</a></li>
                <li><a href="{% url 'order:history' %}">申請一覧
                    {% if user.is_admin %}
                      {% if pending_orders_count > 0 %}
                        <span class="badge">
                        {% if pending_orders_count > 10 %}
                          10+
                        {% else %}
                          {{ pending_orders_count }}
                        {% endif %}
                        </span>
                      {% endif %}
                      </a></li>
                    {% endif %}
                    <li><a href="{% url 'users:favorite' %}">お気に入り一覧</a></li>
                  {% else %}<!--ログインしてないときの表示-->
                {% comment %} <li><a href="{% url 'users:index' %}">ホーム</a></li> {% endcomment %}
                {% endif %}
              </ul>
          </div>
          <div class="right">
              <ul>
                {% if user.is_authenticated %} <!--ログインしているときの表示-->

                  {% if user.is_admin %}<!--ログインユーザーが管理者のときだけ、ユーザー一覧を表示-->
                  <li><a href="{% url 'users:users' %}">ユーザー一覧</a></li>
                  {% endif %}
                <li><a href="{% url 'users:logout' %}">ログアウト</a></li>
                {% else %}<!--ログインしてないときの表示-->
                {% comment %} <li><a href="{% url 'users:login' %}">ログイン</a></li>
                <li><a href="{% url 'users:register' %}">登録</a></li> {% endcomment %}
                {% endif %}
              </ul>
          </div>
      </div>
  </header>

<!-- トップページのメイン -->
  <div class="title-logo">
  </div>
  <div class="main">
    {% block content %}{% endblock content %}<!--各ページで設定したコンテンツを表示させる-->
  </div>

<!-- フッター -->
  <footer>
    <div class="footer">
      <p>2024 team c</p>
    </div>
  </footer>
  
</body>
</html>
