
{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock title %}</title><!--ページのタイトルは、各ページで設定する-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
      <div class="header-content">
          <div class="left">
              <ul>
                {% if user.is_authenticated %} <!--ログインしているときの表示-->
                <li><a href="{% url 'equipment:list' %}">備品一覧</a></li>
                <li>発注履歴</li>
                {% else %}<!--ログインしてないときの表示-->
                <li><a href="{% url 'users:index' %}">ホーム</a></li>
                {% endif %}
              </ul>
          </div>
          <div class="right">
              <ul>
                {% if user.is_authenticated %} <!--ログインしているときの表示-->
                <li>ようこそ、 {{user.username}}さん
                  {% if user.is_admin %}<!--ログインユーザーが管理者のときだけ、名前のうしろに(管理者)と表示-->
                  (管理者)
                  {% endif %}
                  {% if user.is_admin %}<!--ログインユーザーが管理者のときだけ、ユーザー一覧を表示-->
                  <li><a href="{% url 'users:users' %}">ユーザー一覧</a></li>
                  {% endif %}

                <li><a href="{% url 'logout' %}">ログアウト</a></li>
                {% else %}<!--ログインしてないときの表示-->
                <li><a href="{% url 'users:login' %}">ログイン</a></li>
                <li><a href="{% url 'users:register' %}">登録</a></li>
                {% endif %}
              </ul>
          </div>
      </div>
  </header>
    <div class="main">
  {% block content %}{% endblock content %}<!--各ページで設定したコンテンツを表示させる-->
    </div>
</body>
</html>
