{% extends "base.html" %}
{% load static %}
{% block title %}ユーザー情報の編集{% endblock title %}
{% block content %}


<h2 class="order-history-title">ユーザー情報の編集</h2><!-- 承認一覧（タイトル）とclassを統一 -->

<form id="user-edit-form" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% if form.errors %}
  <div class="error">
      <p><font color="red">入力にエラーがあります。もう一度ご確認ください。</font></p>
      {{ form.non_field_errors }}
  </div>
  {% endif %}
  
  <table class="form-table">
      <tr>
        <th>ユーザー名</th>
          <td>
              {{ form.username }}
              {% if form.username.errors %}
              <ul class="errorlist">
                  {% for error in form.username.errors %}
                  <li><font color="red">{{ error }}</font></li>
                  {% endfor %}
              </ul>
              {% endif %}
          </td>
      </tr>
      <tr>
        <th>メールアドレス</th>
          <td>
              {{ form.email }}
              {% if form.email.errors %}
              <ul class="errorlist">
                  {% for error in form.email.errors %}
                  <li><font color="red">{{ error }}</font></li>
                  {% endfor %}
              </ul>
              {% endif %}
          </td>
      </tr>
      <tr>
          <th>パスワードを変更</th>
          <td>
              <button type="button" id="open-password-modal">パスワードを変更する</button>
          </td>
      </tr>
      {% if user.is_admin %}
      <tr>
          <th>パスワードを忘れた場合</th>
          <td>
              <button type="button" id="reset-password-button">リセットを実施</button>
              <label>（管理者権限）</label>
          </td>
      </tr>
      
      <tr>
        <th>スタッフとして登録する</th>
          <td>{{ form.is_staff }}</td>
      </tr>
      <tr>
        <th>管理者として登録する</th>
          <td>{{ form.is_admin }}</td>
      </tr>
      {% endif %}
  </table>
  <div class="button-container">
      <input type="submit" value="保存" class="button">
      
      {% if user.is_admin %}
      <a href="{% url 'users:users' %}" class="mypage-button">ユーザー一覧へ戻る</a>
      {% endif %}
      <a href="{% url 'users:mypage' %}" class="mypage-button">マイページへ戻る</a>
  </div>
</form>
<!-- モーダルウィンドウの構造 -->
<div id="password-modal" class="password-modal">
  <div class="modal-content">
      <span id="close-modal" class="close">&times;</span>
      <div class="password-change-container">
          <h2>パスワード変更</h2>
          <form>
              <table>
                  <tr>
                      <th>現在のパスワード</th>
                      <td><input type="password" name="current_password" required></td>
                  </tr>
                  <tr>
                      <th>新しいパスワード</th>
                      <td><input type="password" name="new_password" required placeholder="(半角の英字と数字を含む、8文字以上の文字列)"></td>
                  </tr>
                  <tr>
                      <th>新しいパスワード（確認）</th>
                      <td><input type="password" name="new_password_confirm" required></td>
                  </tr>
              </table>
              <div class="info">
                  パスワードを変更すると、自動的にログアウトされます。新しいパスワードで再度ログインしてください。
              </div>
              <div class="btn-container">
                  <button type="submit" class="pwchange-button">変更</button>
              </div>
          </form>
      </div>
  </div>
</div>
<!-- パスワードリセット時のポップアップに関するscript -->
<script>
  // リセットメール送信ボタンを押したときの処理
  document.getElementById('reset-password-button').onclick = function(event) {
      var confirmation = confirm("本当にパスワードリセットを実施しますか？");
      if (confirmation) {
          alert("パスワードリセットを実施しました。");
      } else {
          event.preventDefault();
      }
  };
</script>
<!-- パスワード変更のモーダルを開閉するためのJavaScript -->
<script>
  var modal = document.getElementById('password-modal');
  var openBtn = document.getElementById('open-password-modal');
  var closeBtn = document.getElementById('close-modal');
  window.onload = function() {
      modal.style.display = 'none';
  };
  openBtn.onclick = function() {
      modal.style.display = 'flex';
  };
  closeBtn.onclick = function() {
      modal.style.display = 'none';
  };
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = 'none';
      }
  };
</script>
{% endblock content %}
