{% extends "base.html" %}
{% load static %}
{% block title %}メニュー{% endblock title %}
{% block content %}

  <div class="title">
    <h2>メニュー</h2>
  </div>
  
  <div class="content">
    <!--ここからメニュー-->
    <table class="menu-table">
      <tr>
        <td><a href="{% url 'users:mypage' %}">マイページ</a></td>
        <td>ユーザー情報の確認・編集、申請一覧、お気に入り一覧の確認をします。</td>
      </tr>
      <tr>
        <td><a href="{% url 'equipment:list' %}">書籍一覧</a></td>
          <td>備品の一覧・詳細を閲覧します。</td>
      </tr>
      <tr>
        <td><a href="{% url 'order:history' %}">申請一覧</a></td>
          <td>申請の確認・承認(管理者のみ)を行います。</td>
      </tr>
      <tr>
        <td><a href="{% url 'users:favorite' %}">お気に入り一覧</a></td>
          <td>お気に入り一覧の確認をします。</td>
      </tr>
      {% if user.is_admin %}
      <tr>
          <td><a href="{% url 'users:users' %}">ユーザー一覧</a></td>
          <td>(管理者限定)ユーザー情報の確認・編集を行います。</td>
      </tr>
      {% endif %}
  </table>

  </div>

{% endblock content %}