{% extends "base.html" %}
{% block title %}マイページ{% endblock title %}  
{% block content %}
<link rel="stylesheet" href="
https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>

<div class="mypage-container">
    <div class="last-login-info">
        <ul>
            <li><strong>最終ログイン:</strong> {{ user.last_login|date:"Y/m/d H:i" }}</li>
        </ul>
    </div>
    <h2>{{ user.username }}さんのマイページ</h2>
    <table class="user-info-table">
      <tr>
          <th>ユーザー名</th>
          <td>{{ user.username }}</td>
      </tr>
      <tr>
          <th>メールアドレス</th>
          <td>{{ user.email }}</td>
      </tr>
      <tr>
          <th>ユーザー登録日</th>
          <td>{{ user.registration_date|date:"Y/m/d" }}</td>
      </tr>
<!--      <tr>
          <th>パスワード</th>
          <td>********</td> 
      </tr>--><!-- 伏せ文字で表示 -->
          <tr>
            <th>スタッフ</th>
            <td>
              {% if user.is_staff %}
              <span class="material-symbols-outlined">
                check_circle
              </span>
              {% else %}
              <span class="material-symbols-outlined" style="color:#CCCCCC;">
                check_indeterminate_small
              </span>
              {% endif %}
            </td>
        </tr>
        <tr>
            <th>管理者</th>
            <td>
              {% if user.is_admin %}
              <span class="material-symbols-outlined">
                check_circle
              </span>
              {% else %}
              <span class="material-symbols-outlined" style="color:#CCCCCC;">
                check_indeterminate_small
              </span>
              {% endif %}
            </td>
        </tr>
  </table>
  <div class="button-container">
    <a class="myedit-button" href="{% url 'users:edit' user.id %}">登録情報を編集する</a>
</div>
        <!-- 自分の申請一覧リンク -->
        <h3>{{ user.username }}さんの申請一覧</h3>
        <p>今後追加予定です。</p>
        <!-- お気に入り情報-->
        <h3>お気に入り情報</h3>
        <p>お気に入り機能は今後追加予定です。</p>
</div>
{% endblock content %}
