{% extends "base.html" %}
{% load static %}
{% block title %}ログイン{% endblock title %}
{% block content %}

<!--ログインページ-->
<div class="title">
    <h2>ログイン</h2>
</div>

<form method="post">
    {% csrf_token %}
    {% if form.errors %}
    <div class="field-error">
        <p>ユーザIDまたは、パスワードが違います</p>
    </div>
{% endif %}

    <div class="field">
        <label for="{{ form.username.id_for_label }}">ユーザー名：</label>
        {{ form.username }}
        {% if form.username.errors %}
        <ul class="errorlist">
            {% for error in form.username.errors %}
            <li><font color="#E6371E">{{ error }}</font></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}：</label>
        {{ form.password }}
        {% if form.password.errors %}
        <ul class="errorlist">
            {% for error in form.password.errors %}
            <li><font color="#E6371E">{{ error }}</font></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="button-container">
        <input type="submit" value="ログイン" class="button">
    </div>
</form>
<p>アカウントをお持ちでないですか？</p>
<br>
<p><a href="{% url 'users:register' %}">▶ 登録はこちら</a></p>
<br>
<p><a href="{% url 'users:forgetpw' %}">▶ パスワードを忘れた方はこちら</a></p>
<br>
{% endblock content %}
