
{% extends "base.html" %}
{% load static %}
{% block title %}トップページ{% endblock title %}
{% block content %}
<!--新規登録ページ-->
<div class="title">
    <h2>ユーザー新規登録</h2>
</div>
<form method="post">
    {% csrf_token %}
    {% if form.errors %}
        <div class="field-error">
            <p>入力にエラーがあります。もう一度ご確認ください。</p>
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    <div class="field">
        {% if form.username.errors %}
        <ul class="errorlist">
            {% for error in form.username.errors %}
            <li><font color=red>{{ error }}</font></li>
            {% endfor %}
        </ul>
            {% endif %}
    </div>
    <div class="field">
        {{ form.username.label_tag }}
        {{ form.username }}
    </div>
    <div class="field-info">
        <p>※この項目は必須です。半角アルファベット、半角数字、@/./+/-/_ で150文字以下にしてください。</p>
    </div>
    <div class="field">
        {% if form.email.errors %}
        <ul class="errorlist">
        {% for error in form.email.errors %}
            <li><font color=red>{{ error }}</font></li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ form.email.label_tag }}
        {{ form.email }}
    </div>
    <div class="field">
        {% if form.password1.errors %}
        <ul class="errorlist">
            {% for error in form.password1.errors %}
            <li><font color=red>{{ error }}</font></li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ form.password1.label_tag }}<a>(英数字含む8文字以上)</a>
        {{ form.password1 }}
    </div>
    <div class="field">
        {% if form.password2.errors %}
        <ul class="errorlist">
            {% for error in form.password2.errors %}
            <li><font color=red>{{ error }}</font></li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ form.password2.label_tag }}
        {{ form.password2 }}
    </div>
    <div class="field-info">
        <p>あなたの他の個人情報と似ているパスワードにはできません。
            <br>パスワードは最低 8 文字以上必要です。
            <br>よく使われるパスワードにはできません。
            <br>数字だけのパスワードにはできません。
            <br> 
            <br> 
        </p>
    </div>
    <center>
    <div class="fieldstaff">
        {{ form.is_staff.label_tag }}
        {{ form.is_staff }}
    </div>
    <div class="fieldstaff">
        {{ form.is_admin.label_tag }}
        {{ form.is_admin }}
    </div>
    </center>
    <div class="button-container">
        <input type="submit" value="登録" class="button">
    </div>
    
</form>
{% endblock content %}
